* {
	box-sizing: border-box;
}

html {
	font-family: lato-regular;
	font-size: 1rem;
	line-height: 1.25;
	background-image: url(/des-img/grass.jpeg);
	/* background-color: rgb(179, 199, 186); */
}



body {
	
	/* position: relative; */
	/* text-align: center; */
}

/* h2 {
	font-family: lato-bold;
	line-height: 1.0714;
} */

img {
	width: 100%;
}

footer {
	/* background-color:rgba(53, 131, 195, 0.68); */
	border:2px;
	color: rgb(0, 0, 0);
    text-align: center;
	height: 100%;
    
}