* {
	box-sizing: border-box;
}

html {
	font-family: lato-regular;
	font-size: 1rem;
	line-height: 1.25;
	background-color: #194e60;
	background-image: url(/des-img/green-grass-background.jpg);
}



body {
	
	/* position: relative; */
	/* text-align: center; */
}

/* h2 {
	font-family: lato-bold;
	line-height: 1.0714;
} */

/* img {
	width: 100%;
} */

