* {
	box-sizing: border-box;
}

html {
	font-family: lato-regular;
	font-size: 1rem;
	line-height: 1.25;
}

body {
	position: relative
}

h2 {
	font-family: lato-bold;
	line-height: 1.0714;
}

img {
	width: 100%;
}

a {
	font-family: lato-bold;
	text-decoration: none;
	color: var(--clr-link-txt);
}