.editor-page {
    display: none;
    padding-top: 40px;
    text-align: center;


}

.editor-container {

    flex-direction: column;
    align-items: center;
    margin-top: 2px;
    gap: 5px;
}

.editor-container a {
    margin: auto;
    margin-inline: 3% 3%;

}

.editor-container img {
    margin: auto;
    padding: 4px;
    /* height: 45px; */
    width: 45px;
    max-width: 100%;
    height: auto;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 10px;

}


.canvas-editor {
    flex: 1;
    height: 400px;
    width: 400px;
    background-color: antiquewhite;
    border-radius: 10px
}


.control-panel {
    padding: 15px;
    border-radius: 10px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 60%;
    height: fit-content;
    padding: 0, 50;
    background-color: rgb(150, 211, 184);


}


.text-input {
    margin: auto;
    width: 90%;
    height: 40px;
    border-radius: 10px;
    border: 5px solid black;
}

.font-family {
    margin: auto;
    margin-top: 8px;
    margin-bottom: 12px;
    border: 5px solid black;
    border-radius: 10px;
    width: 40%;
    height: 35px;

}


.btn-container {
    justify-content: center;
    margin-top: 20px;
}

.text-btns {
    /* grid-template-columns: repeat(5, 60px);
    gap: 8px 8px; */
    margin-top: 15px;
    justify-content: center;

}


.set-colors {
    margin-top: 15px;
    justify-content: center;
    gap: 6%;

}


.set-colors input {

    width: 80px;

}

.set-colors p {
    font-family: Impact;
    font-size: larger;
    max-width: 100%;
    height: auto;
}


.share-tab{
    margin: auto;
    gap: 10px;
}

.download-btn {
    margin: auto;
    width: 150px;
    height: 30px;
    border-radius: 10px;
    border: 2px solid black;
   cursor: pointer;
}

.share-tab img {
    background-color: rgb(63, 142, 208);
    width: 35px;
}