

.main-contant{
    text-align: center;
    
}
.gallery-container {
    margin:auto;
    padding: 50px 50px;
    
    
    
}

.search-bar{
    margin: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 5em;
    /* border-width: 10px; */
    background-color: rgb(52, 128, 183);
    padding: 1.5%;
    width: fit-content;
    height: fit-content;
    border: 2px solid black;
    border-radius: 15px; 
    gap: 8px;
}
.text-search {
    position: relative;
    width: 300px;
    height: 35px;
    border-radius: 10px;
}

.search-bar img {
    border-color: rgb(52, 128, 183);
    height: 2em;
    width: 2em;
    cursor: pointer;
}



.img-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(199.55px, 1fr));
    grid-gap: 20px;
  }

img {
    border-radius: 2px;
    border: 2px solid black;
    height: 8em;
    width: 8em;
    cursor: pointer;
}

