

.main-contant{
    margin-top:  40px;
}

.search-bar{
    margin-bottom: 5em;
}


.gallery-container {
    display: grid;
    
    grid-template-columns: repeat(auto-fit,minmax(180px,1fr));
    grid-gap: 20px;
    /* padding: 15px;
    grid-auto-flow: dense;
    margin:  0 auto; */
    /* background-image: url(/img/green-grass-background.jpg); */
    background-color: rgba(183, 188, 170, 0.911);
    
}

img {
    border-radius: 2px;
    height: 8em;
    width: 8em;
}

