@font-face {
    font-family: 'Impact';
    src: url('../../fonts/impact.ttf');
}
@font-face {
    font-family: 'Eurof55';
    src: url('../../fonts/eurof55.ttf');
}
@font-face {
    font-family: 'Lato-Regular';
    src: url('../../fonts/Lato-Regular.ttf');
}